.btn {
	position: relative;
    left: 0;
    font-size: 14px;
    color:#fff;
    line-height: 1.429;
    background-color: #1ab394;
}
.btn-set {
	float: left;
	margin: 10px 0px;
	width:66%;
	height:34px;

}
.btn-div {
	width: 100%;
	height: 54px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.search-div {
    float: right;
    margin: 10px 0 10px 10px;
    width: 29%;
    height: 34px;
}
#keyword {
    float: left;
    width: 65%;
    height: 100%;
    margin-left: 19%;
}
#search-btn {
    float: right;
    width: 50px !important;
    height: 100%;
}
.insert-btn {
	background-color: #1ab394 !important;
}
.cancelled-btn {
	background-color: #b31908 !important;
}
.update-btn,.yellow-btn {
	background-color: #f8ac59 !important;
}
.save-btn {
	background-color: #1B9AF7;
	border-color: #1B9AF7;
	color: #FFF;
}
.del-btn ,.red-btn{
	background-color: #FF4351;
	border-color: #FF4351;
	color: #FFF;
}
.shipped-btn {
    position: relative;
    left: 0;
    background-color: #518cd7 !important;
    font-size: 14px;
    color:#fff;
    line-height: 1.429;
}
.tabtd {
    text-align: center;
    vertical-align: middle !important;
    white-space: nowrap;
}
input[readonly]{
    background-color: #efefef;
}
.imgUpload{
    display:inline-block;
    height:38px;
    line-height:38px;
    padding:0 18px;
    position: relative;
    background-color:#2e6da4;
    color:#fff;
    white-space:nowrap;
    text-align:center;
    font-size:14px;
    border:none;
    border-radius:2px;
    cursor:pointer;
}
.message{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Hiragino Sans GB", "Microsoft Yahei";
}
.btn-new {
    color: #fff;
    background-color: #b7130f;
    border-color: #B7130F;
}
.btn-complete {
    color: #fff;
    background-color: #29b72a;
    border-color: #29b72a;
}
.btn-shipped {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-received {
    color: #fff;
    background-color: #FF9900;
    border-color: #FF9900;
}
.btn-cancelled {
    color: #fff;
    background-color: #697783;
    border-color: #697783;
}
.error {
    color: #f00;
}
.btn-primary {
    height: 34px;
}