.btn-div {
    width: 100%;
    height: 38px;
}

.add-btn {
    height: 38px;
    float: right;
    padding-right: 13px;
    margin-top: 6px;
}

.click-btn {
    position: relative;
    left: 75%;
    background-color: #1ab394 !important;
    font-size: 12px;
    line-height: 0.429;
    color: #fff;
    margin-top: 1%;
    padding-top: 7px;
}
.input-group {
    float: right !important;
}