<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--后台权限管理-->
<mapper namespace="com.lx.attendance.dao.HolidayDao">
    <parameterMap id="AttendanceDO" type="com.lx.attendance.model.domain.HolidayDO"/>
    <sql id="select_colunm">
        id, date, name, wage
    </sql>
    <!--批量定时导入节假日-->
    <insert id="insertBatch">
        INSERT INTO t_holiday
        (date, name, wage)
        VALUE
        <foreach collection ="list" item="holiday" separator =",">
            (#{holiday.date}, #{holiday.name}, #{holiday.wage})
        </foreach >
    </insert>
    <!--查询某个日期是否是节假日或者调休-->
    <select id="findHolidayByDate" resultType="HolidayDO">
          SELECT <include refid="select_colunm"/> FROM t_holiday h WHERE h.date = DATE_FORMAT(#{date},'%Y-%m-%d');
    </select>
    <!-- 查询本年度所有的节假日-->
    <select id="findThisYearHolidayByDate" resultType="HolidayDO">
        SELECT <include refid="select_colunm"/> FROM t_holiday h WHERE h.year = #{startY}  order by h.date
    </select>
</mapper>
